<% provide(:title, 'Contact') %>

		<h1>Contact</h1>
		<p>Get help on Ruby on Rails Tutorial at the 
	<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>